*{
    margin: 0;
    color: aliceblue;
    border: border-box;
    font-family: arial;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  /** box1 **/

}
.nav-logo{
    height: 45px;
    width: 100px;
}
.logo{
    background-image: url(/amazon.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #0f1111;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** box2 **/

.add-icon{
    display: flex;
}
.add-1{
font-size: 0.85rem;
color: #cccccc;
margin-left: 22px;
}
.add-2{
    font-size: 1rem;
    margin-left: 3px;
    text-align: center;

}
/**box 3**/
.nav-search{
    display: flex;
    height: 45px;
    width:600px ;
    
}
.search-select{
    color: black;
    border: none;
    height:45px;
    width: 45px;
    background-color: #c2bdbd;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 3px ;
    border-bottom-left-radius: 3px ;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    color: #ff9100;
    /* color: black; */
    padding-left: 10px;
    font-size: 18px;
}
.search-icon{
    width: 45px;
    display: flex;
    background-color: #febd68;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px ;
    color: black;
}
/** box4 **/

.nav-language{
    height:50px ;
    width: 45px ;
    display: flex;
    margin-bottom: 0.1px;
    justify-content: center;
    align-items:center ;
}
.nav-lan{
height: 30px ;
width: 305px ;
color: #0f1111;
margin-left: 5px;
}
option{
    color: #0f1111;
}

/** box5  **/

span{
    font-size: 0.65rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** box6 **/

.nav-cart{
    height: 50px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co-cart{
    font-weight: 600;
}
.co-nav-cart{
    font-size: 1.25rem;
    color: #febd68;
}

/** second navbar **/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel-all{
    display: flex;
    font-weight: 700;
    text-align: left;
    margin-left: 0px;
}
.bar-icon{
    height: 14px;
    width: 17px;
    color: #0f1111;
}
.panel-ops p {
    display: inline;
    margin-left: 20px;
    font-size: 0.90rem;
    font-weight: 540;
    border: 1px solid transparent;
}
.panel-ops p:hover{
border: 1px solid white;
} 

/** hero-section **/

.hero-section{
    height: 350px;
    background-image: url(/hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end ;

}
.hero-comment {
   background-color: azure;
   color: black;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   width: 80%;
   position: relative;
   /* bottom: 220px;  */
   bottom: 25px; 
   border-radius: 3px;
}
.hero-comment p{
    color: #0f1111;
    font-size: 0.85rem;
}
.hero-comment a{
    color: #2162a1;
    font-size: 0.85rem;
}
.hero-comment a:hover{
    color: red;
}
a{
    text-decoration: none;
    color:#007185;
}

/** shop-section **/

.shop-section{
    background-color: #d4d8d7;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}


.box{
    height: 420px;
    width: 326px;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 20px 0px 15px;
    box-shadow: 0pc 0px 0px white;
    border-radius: 5px;

}
.box:hover{
    box-shadow: 5px 5px 3px rgb(158, 156, 156);
}

/** box1 **/
.box1-image{
    background-image: url(/cultter.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box1 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box1 a:hover{
 color: red;
}

/** box2 **/

.box2-image{
    background-image: url(/aa.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box2 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box2 a:hover{
 color: red;
}

/**box3 **/

.box3-image{
    background-image: url(/game-box.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box3 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box3 a:hover{
 color: red;
}

/** box4 **/

.box4-image{
    background-image: url(/kitchen.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box4 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box4 a:hover{
 color: red;
}

/** box5 **/

.box5-image{
    background-image: url(/box5.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box5 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box5 a:hover{
 color: red;
}

/** box6 **/

.box6-image{
    background-image: url(/box6.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box6 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box6 a:hover{
 color: red;
}

/** box7 **/

.box7-image{
    background-image: url(/box7.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box7 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box7 a:hover{
 color: red;
}

/** box8 **/

.box8-image{
    background-image: url(/box8.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box8 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box8 a:hover{
 color: red;
}

/** box9 **/

.box9-image{
    background-image: url(./box9.jpg);
    /* background-size: auto; */
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box9 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box9 a:hover{
 color: red;
}
/** box10 **/

.box10-image{
    background-image: url(./box10.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box10 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box10 a:hover{
 color: red;
}
/** box11 **/

.box11-image{
    background-image: url(./nox11.jpg);
    background-size: contain;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box11 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box11 a:hover{
 color: red;
}
/** box12 **/

.box12-image{
    background-image: url(/box12.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
}
.box12 a{
    color: #2162a1;
    font-size:0.85rem;
}
.box12 a:hover{
 color: red;
}
.boxes-a {
    height: 47px;
    bottom: 2px;
    display: flex;
    align-items: end;
}
.upper-foot{
    height: 45px;
    background-color: #526477;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.lower-foot{
    height: 350px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.75rem;
    padding-top: 7px;
    color: rgb(203, 203, 204);
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
    color: aliceblue;
}
ul{
    margin-top: 10px;
}

ul p {
    font-size: 0.85rem;
    font-weight: 550;
}

.co-footer{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}
.logo{
    background-image: url(/amazon2.jpg);
    background-size: cover;
    height: 50px;
    width: 120px;
}
.sl-foot {
    height: 100px;
    background-color: #131a22;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.2rem;
    padding-top: 50px;
}
a ul p{
    font-size: 0.66rem;
}
a{
    color: white ;
    text-decoration: none;
    font-size: 0.6rem;
}
li{
    text-decoration: none;
    list-style: none;
    color: #ccc3c3;
}
 a:hover{

    text-decoration: underline;
    color: #cccccc;
            
}
.p{
    margin-bottom: 100px;
}
.last-div{
    background-color: #131a22;
   font-size: 0.78rem;
   padding-bottom: 100px;

   
}
.l1{
    justify-content: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-bottom: 5px;
    


}
.l1 a {
    padding-left: 10px;
}
.l2{
    justify-content: center;
    display: flex;
    justify-content: center;
    font-size: 0.65rem;
    
}
.l2 p {
    color: #a1a5a8;
}